<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/TemplateCssSingup/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/TemplateCssSingup/css/style.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/assets/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b27f8edf69.js" crossorigin="anonymous"></script>
</head>
<body>
    @using MyBlogSite.Entities;
    @{
        User user = (User)Session["Login"];
    }

    @if (ViewBag.Title != "Index")
    {
        <header id="header">
            <div class="logo"><a href="/Home/Index">MyBlog</a></div>
            <a href="#menu">Menu</a>
        </header>

        <nav id="menu">
            <ul class="links">
                <li><a href="/home/index">Ana Sayfa</a></li>
                @if (user != null)
                {
                    <li><a href="/home/profile">@user.Name @user.Surname</a></li>
                }
            </ul>
        </nav>
    }
    else
    {
        <header id="header" class="alt">
            <div class="logo">
                <a href="/Home/Index">MyBlog</a>
            </div>
            @if (user != null)
            {
                <a href="/Home/SignOut"><i class="fas fa-sign-out-alt"></i></a>
            }
            else
            {
                <a href="/Home/SignUp"><i class="fas fa-user-plus"></i></a>
                <a href="/Home/SignIn"><i class="fas fa-sign-in-alt"></i></a>
            }
            <a href="#menu">Menu</a>
        </header>

        <nav id="menu">
            <ul class="links">
                <li><a href="/Home/Index">Ana Sayfa</a></li>                
                @if (user != null)
                {
                    <li><a href="/home/profile">@user.Name @user.Surname</a></li>
                }
            </ul>
        </nav>
    }

    @RenderBody()

    <footer id="footer">
        <div class="container">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="www.google.com" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
        </div>
        <div class="copyright">
            &copy; Untitled. All rights reserved.
        </div>
    </footer>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/TemplateCssSingup/vendor/jquery/jquery.min.js"></script>
    <script src="~/TemplateCssSingup/js/main.js"></script>
</body>
</html>